/* Layout container */
.layout {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100dvh;
    max-width: 100vw;
    /* border: 1px solid red; */
    overflow: hidden;
}

/* Header Section */
.Header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    padding: 0 20px;
    /* border: 2px dotted blue; */
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

/* Main Content Container */
.main {
    display: grid;
    grid-template-columns: 1.5fr 3fr 1.5fr;
    /* Left: 1fr, Middle: 3fr, Right: 1fr */
    flex-grow: 1;
    /* border: 1px solid black; */
    height: calc(100dvh - 70px);
    overflow: hidden;
}

/* Left Sidebar */
.Left {
    background-color: purple;
    display: flex;
    /* border: 2px ridge violet; */
    padding: 11px;
}

/* Middle Content */
.Middle {
    /* background-color: green; *
    display: flex;
    /* border: 2px dashed purple; */

    width: 100%;
    padding: 20px;
    padding-top: 0;
    height: 100vh;
    overflow-y: scroll;
}

/* Right Sidebar */
.Right {
    background-color: red;
    display: flex;
    /* border: 2px double green; */
    padding: 10px;
}